:root{
    --color-negro: #1b1b1b;
    --color-blanco: #ffffff;
    --color-gris: #efefef;
    --color-oro: #c7b8a5;
}

body{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    letter-spacing: .05rem;
}

.lead-xl{
    font-size: 1.75rem;
}

.nav-link{
    margin-left: 2rem;
}

.sideways{
    writing-mode: vertical-lr;
    display: block;
    margin: 3.5rem;
    transform: rotate(-180deg);
}

.btn-primary{
    background-color: transparent;
    border: 1px solid var(--color-blanco);
    border-radius: 0;
    color: var(--color-blanco);
    padding: .7rem 2.5rem;
    font-size: 1.25rem;
}

.btn-primary:hover{
    background-color: var(--color-blanco);
    color: var(--color-negro);
    border: 1px solid var(--color-blanco);
}

.navbar{
    height: 5rem;
}

.border-right{
    border: 1px solid rgba(256, 256, 256, .1) !important;
}

.nav-item:hover{
    color: var(--color-negro);
    background-color: var(--color-blanco);
}

.card{
    background-color: transparent;
    color: var(--color-blanco);
}